.python-version
.venv/
MarkdownTEX/

# .tex file build intermediate files
*.aux
*.fdb_latexmk
*.fls
*.log
*.out
*.pdf 
*.synctex.gz 
*.toc
*.pdf
*.md
mkd_ast
.json
.python-version
pdf_latex/
.venv/
.tex
conversation.html
formatted.tex
claude_stripped_down_chat.html
*.html