.python-version
.venv/
MarkdownTEX/

# .tex file build intermediate files
*.aux
*.fdb_latexmk
*.fls
*.log
*.out
*.pdf 
*.synctex.gz 
*.toc
*.pdf
*.md
mkd_ast
.json
.python-version
.venv/
*.tex
!main.tex
!preamble.tex
!environment.tex
*.html
main.synctex(busy)
__pycache__
claude/
chats/
markdown/
duckduckgo/
chats.zip
always start here - Cleaning burnt grease cheaply_files/
drones - Branch · Branch · Skybrush Studio API_files/